$azul : #69D2E7;
$celeste : #A7DBDB;
$beige : #E0E4CC;
$naranjito : #F38630;
$naranjo : #FA6900;
$rosa : #E94C6F;
$burdeo : #542733;
$plomo : #5A6A62;
$gris : #C6D5CD;
$amarillo : #FDF200;
$coral : #DB3340;
$mostaza : #E8B71A;
$piel : #F7EAC8;
$turquesa : #1FDA9A;
$celeste : #28ABE3;
$musgo : #588C73;
$chino : #F2E394;
$acoralado : #F2AE72;
$rojizo : #D96459;
$cafe : #8C4646;
$limon : #D0C91F;
$celestito : #85C4B9;
$azulado : #008BBA;
$sandia : #DF514C;
$rojo : #DC403B;
$bg-azul : #242F3D;
$bg-verde : #4C9751;